.white-backgorund{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-background-color: #D7D7D7;
    -fx-background-radius: 20;
}

.selected {
    -fx-background-color: linear-gradient(to right, #F28B3D 5px, rgba(242,139,61,0.15) 5px);
}

.mouse-moved:hover {
    -fx-background-color: linear-gradient(to right, rgba(242,139,61,0.5) 5px, #E4E4E4 5px);
}

.container{
    -fx-background-color: #fff;
    -fx-background-radius: 15;
}
.container-orange{
    -fx-background-color: #FFF494;
    -fx-background-radius: 15;
}
